:root {
  background-color: #212322;
}
.App {
  text-align: center;
  color: #fbfbfb;

}


.App-header {
  display: flex;
}
label {
    font-size: 18px;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem;
    border: 4px double white;
    border-radius: 5px;
}

.App-link {
  background-color: #eee;
  padding: 0.125rem;
  margin: 0.25rem auto;
  border: 1px springgreen solid;
  /* width: 50px; */
}

.width-50 {
  width: 50px;
}
.width-51 {
  width: 51px;
}
.width-52 {
  width: 52px;
}
.width-53 {
  width: 53px;
}
.width-54 {
  width: 54px;
}
.width-55 {
  width: 55px;
}
.width-56 {
  width: 56px;
}
.width-57 {
  width: 57px;
}
.width-58 {
  width: 58px;
}
.width-59 {
  width: 59px;
}
.width-60 {
  width: 60px;
}
.width-65 {
  width: 65px;
}
.width-70 {
  width: 70px;
}
.width-75 {
  width: 75px;
}
.width-80 {
  width: 80px;
}
.width-85 {
  width: 85px;
}
.width-90 {
  width: 90px;
}
.width-95 {
  width: 95px;
}
.width-100 {
  width: 100px;
}
.width-150 {
  width: 150px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.catNumber {
  background-color: #eee;
  width: auto;
  min-width: 150px;
  text-align: end;
}

.cat-photos, .my-photos {
  /* padding: 0.25rem; */
  margin: 0.25rem;
  display: flex;
  gap: 5px;
  /* border: inset 5px lightgreen; */
  flex-wrap: wrap;
}

.image-li {
  display: flex;
  padding: 1rem;
  align-items: center;
}
.images-direction {
  flex-grow: 2;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.reset-button, .inc-buttons {
  flex-grow: 2;
}